

<html>

	<head>

		<meta charset="UTF-8">
		<title>Simple JavaScript Quiz</title>

		<link rel="stylesheet" href="@{'public/stylesheets/style.css'}">

	</head>

	<body>
		 
		<div id="quiz"></div>
		
		<button id="submit">Finalizar</button>
		
	
		<button id="gabarito"><a href="https://www.youtube.com/" target="_blank">Gabarito</a></button>
		<div id="results"></div>
		<!-- Esqueci de falar no video, mas precisa chamar o script para ele ser executado, então aqui está ele, me desculpem por essa falha -->
		<script  src="@{'public/javascripts/javascriptsQuiz/index.js'}"></script>

		


	
	


	</body>

</html>