<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obrigado</title>
    
    <style>
    
    h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
  margin-top: 300px;
}
    
    
    
    
    </style>
    
  </head>
  <body style="background-color: #44a43c;">
    <h2>A equipe Pró-if agradece sua mensagem!<br/>Aguarde nosso retorno.</h2>
  </body>
</html>